<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Lesson 17 tests">
    <test name="Testing operations with numbers and arrays">
        <classes>
                <class name="TestNGDemoTests.CalculatorTest"/>
                <class name="TestNGDemoTests.ReverseIntegerTest"/>
                <class name="TestNGDemoTests.NumberToPowerOfAnotherTest"/>
                <class name="TestNGDemoTests.ArrayAverageValueTest"/>
        </classes>
    </test>
</suite>